body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    background: #ececec;
}

img {
    max-width: 100%;
    height: auto;
}
/*******************************header****************************/
.navbar {
    border: none;
    margin-bottom: 0;
    background: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.top-menu .container {
    padding-left: 0;
}

.top-menu .container>.navbar-collapse {
    padding-left: 0;
}

.flag {
    position: relative;
    top: -1px;
    left: -5px;
}

.dropdown-menu{
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a.btn-nav {
    padding: 2px 20px 2px 26px;
    margin-top: 10px;
    color: white;
    background: #d51e08;
}

.navbar-default .navbar-nav>li>a.btn-nav:hover {
    text-decoration: none;
    background: #f8240b;
}

.glyphicon {
    left: -10px;
    cursor: pointer;
}

.img-slider {
    background-image: url(../img/slider.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-content .item {
    min-height: 600px;
}

.carousel-caption {
    top: 170px;
    left: 0px;
}

.carousel-caption span {
    font-size: 48px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 30px;
    margin-bottom: 28px;
}

.btn-slider {
    color: white;
    font-size: 24px;
    background-color: #d51e08;
}

.btn-slider:hover {
    color: white;
    background: #f8240b;
}

.item .container {
    position: relative;
}

.main-menu {
    position: relative;
}

.main-menu .navbar {
    position: absolute;
    z-index: 20;
    width: 100%;
    background: transparent;
    border: none;
    top: 45px;
}

.content-menu .navbar-nav>li>a {
    color: white;
}

.content-menu {
    background-color: black;
    border-radius: 3px;
}

.content-menu .navbar-brand {
    padding-top: 0;
    padding-left: 35px;
}

.navbar-brand>img {
    float: left;
}

.navbar-brand span {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 21px;
    text-transform: uppercase;
}

.main-menu .content-menu .navbar-nav>li>a:hover {
    color: white;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    margin-left: 9px;
    margin-top: -2px;
}

.carousel-indicators-wrap {
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
}

.carousel-indicators-wrap .carousel-indicators {
    position: relative;
    background: #fff;
    width: auto;
    display: inline-block;
    margin-left: 0;
    left: 0;
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    padding: 0 25px;
}

.carousel-indicators-wrap .carousel-indicators li {
    background: #d2d2d2;
    width: 8px;
    height: 8px;
    margin: 0;
    margin-left: 15px;
}

.carousel-indicators-wrap .carousel-indicators li:first-child {
    margin-left: 0;
}

.carousel-indicators-wrap .carousel-indicators li.active {
    background: #a3a3a3;
}

.slogan .div class {
    padding-left: 0;
    padding-right: 0;
}
/*******************************main***************************/
.slogan {
    padding-top: 55px;
    padding-bottom: 50px;
    background: #fff;
    border-top: 1px solid #cfcfcf;
    border-bottom: 3px solid #cfcfcf;
}

.slogan p {
    font-size: 30px;
    text-align: center;
}

.sidebar {
    border-right: 3px solid #cfcfcf;
    padding-top: 50px;
}

.widget {
    padding-right: 9px;
    padding-bottom: 30px;
    border-bottom: 3px solid #cfcfcf;
    margin-bottom: 30px;
}

.widget span {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.widget ul {
    list-style: none;
    padding-left: 0;
}

.widget li {
    display: block;
    margin-bottom: 10px;
}

.widget a {
    color: black;
}

.widget a.more {
    color: #28a0ba;
}

.carousel-caption-sidebar {
    background: #fff;
    width: 225px;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 13px;
}

.carousel-caption-sidebar span {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 30px;
}

.carousel-caption-sidebar p {
    font-size: 12px;
    text-align: center;
    color: #5b5b5b;
    margin-bottom: 25px;
}

.sidebar .carousel-indicators {
    position: relative;
    bottom: 0;
    margin-left: -50%;
    background: #fff;
    width: 225px;
    padding: 6px 0;
    margin-bottom: 20px;
}

.sidebar .carousel-indicators li {
    background: #9a9a9a;
    width: 9px;
    height: 9px;
    margin: 0;
}

.sidebar .carousel-indicators li.active {
    background: #5b5b5b;
}

.banner {
    margin-bottom: 30px;
}

.banner-text {
    background: #fff;
    width: 226px;
    padding: 30px 25px;
    text-align: center;
}

.banner-text span {
    font-size: 18px;
    text-transform: uppercase;
}

.banner-text p {
    margin: 5px 0;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-banner {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #d51e08;
    text-transform: uppercase;
    margin-top: 25px;
}

.btn-banner:hover {
    color: white;
    background: #f8240b;
}

.about {
    min-height: 350px;
    padding-right: 35px;
    padding-bottom: 5px;
}

.about span {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.about p {
    color: #585858;
}

.about p:not(:last-child) {
    margin-bottom: 20px;
}

.about p.more {
    color: #28a0ba;
}

.content {
    margin-top: 50px;
}

.content>span {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.goods {
    position: relative;
    width: 265px;
    min-height: 460px;
    background: #fff;
    text-align: center;
    padding-top: 20px;
}

.goods:hover {
    box-shadow: 0 0 16px 0 #bbbbbb;
}

.goods:hover .btn-goods {
    background: #ececec;
}

.goods:hover .btn-goods:hover {
    background: #ccc;
}

.goods img {
    height: 195px;
}

.goods-text {
    margin-top: 15px;
    padding: 0 10px;
}

.goods-text span {
    font-weight: bold;
    text-transform: uppercase;
}

.goods-text p {
    margin: 15px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #d51e08;
}

.btn-goods {
    margin-top: 25px;
    border: 1px solid #cfcfcf;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
}

.sale {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 1px solid #c8c8c8;
    line-height: 50px;
    text-transform: uppercase;
    left: 12px;
    top: 12px;
}

.like {
    display: none;
    position: absolute;
    font-size: 18px;
    color: #909090;
    top: 12px;
    right: 12px;
}

.like:hover {
    color: #d51e08
}

.goods:hover .like {
    display: block;
}

.content-banner {
    margin-top: 60px;
}

.email {
    padding: 50px 0;
    background: #fff;
    border-bottom: 1px solid #9e9e9e;
}

.email span {
    font-size: 24px;
}

.email p {
    font-size: 18px;
    font-weight: 300;
}

.email .form-control {
    padding:12px;
    width: 100%;
    height: 55px;
}

.email button.btn.btn-default {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #e77553;
    border-bottom: 4px solid #d96340;
    padding: 12px 45px;
}

.footer-slider {
    background: #fff;
}
/*****************************footer*******************************/
.footer {
    background: #343434;
    color: #ababab;
    padding-top: 35px;
}

.footer span {
    display: inline-block;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 50px;
}

.list span {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
}

.list ul {
    list-style: none;
    padding-left: 0;
}

.list li:not(:last-child) {
    margin-bottom: 10px;
}

.list a {
    color: #ababab;
}

.copyright {
    background: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
}

.copyright span {
    color: #000;
    margin-top: 10px;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .top-menu nav .navbar-nav {
        float: none !important;
    }
    .main-menu .navbar {
        top: 50px;
    }
    .navbar-brand>img {
        width: 38px;
    }
    .main-menu .navbar-right {
        margin-right: 0;
    }
    .main-menu .navbar-brand span {
        font-size: 15px;
    }
    .goods {
        width: 220px;
    }
    .sale {
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
    .sidebar .carousel-indicators {
        bottom: -1px;
        width: 209px;
    }
    .banner-text {
        width: 209px;
    }
    .social-icons img {
        display: block;
        margin-bottom: 5px;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .main-menu .navbar-form .navbar-right {
        margin-right: 40px;
    }
    .main-menu .navbar-form .input-group>.form-control {
        width: 172px;
    }
    .main-menu .navbar-nav>li>a {
        font-size: 9px;
    }
    .main-menu .navbar-brand span {
        font-size: 0px;
    }
    .sidebar .carousel-indicators {
        bottom: -0px;
        width: 225px;
    }
    .banner-text {
        width: 225px;
    }
    .social-icons img {
        display: inline-block;
        margin-bottom: 5px;
    }
    .pay-left {
        text-align: left;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .main-menu .navbar-form .input-group>.form-control {
        width: 100%;
    }
    .top-menu .navbar-toggle {
        margin-right: 26px;
    }
    .top-menu .container>.navbar-collapse {
        padding-left: 35px;
    }
    header .carousel-indicators-wrap {
        bottom: -32px;
    }
    header .carousel-caption span {
        font-size: 40px;
    }
    header .carousel-caption p {
        font-size: 25px;
    }
    .btn-slider {
        font-size: 25px;
    }
    .content-banner img {
        margin-bottom: 20px;
    }
    .goods {
        margin-bottom: 20px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    header .carousel-caption span {
        font-size: 32px;
    }
    header .carousel-caption p {
        font-size: 18px;
    }
    .btn-slider {
        font-size: 18px;
    }
    .slogan p {
        font-size: 20px;
    }
    .goods {
        width: 100%;
    }
    .btn-goods {
        display: block;
    }
    .goods .btn {
        border-radius: 0;
    }
}
